<!DOCTYPE html>
<html>
    <body>
        <p>  
            Hello! Previously you had been scheduled to participate in an event with {{ student }}, a prospective student.
            This is an automated follow up email regarding that event. At your earliest convenience, please use the link below to answer a few questions
            regarding your meeting with {{ student }}, such as whether or not he/she actually attended the event. Thank you!
        </p>
        <br/>
        <a href="https://scheduler.gcc.edu/visitsurvey/{{survey_id}}">Survey for {{student}}'s Prospective Student Visit</a>
        <br/>
        <p>Sincerely,</p>
        <p>GCC Prospective Scheduler</p>
    </body>
</html>